@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-weight: 400;
    font-size: 22px;
    color: black;
    /*padding: 0 118px 0 118px;*/
}

/*Navbar*/
<<<<<<< HEAD
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15);
=======
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 118px;
    color: white;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
}

.logo-container {
    flex: 1;
}

.logo {
<<<<<<< HEAD
    width: 97px;
=======
    width: 100px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 39px;
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #1D4896;
    font-weight: 700;
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 16px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    letter-spacing: 1.8px;
    transition: 0.2s;
}

.menu a:hover {
    color: #AFD3E2;
}

/*Bannner*/
#banner {
    padding: 0 0 0 118px;
}

.banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo {
    flex: 1;
}

.titulo h1 {
    color: #1E1E1E;
<<<<<<< HEAD
    font-size: 36px;
=======
    font-size: 38px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    margin-bottom: 5px;
    font-weight: 700;
}

#adaptada {
    color: white;
    background-color: #AFD3E2;
    border-radius: 20px;
    padding: 5px;
}

.titulo h2 {
<<<<<<< HEAD
    font-size: 28px;
=======
    font-size: 30px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    color: #C62815;
    font-weight: 400;
    margin-bottom: 20px;
}

.fraseInicial {
<<<<<<< HEAD
    font-size: 28px;
    font-weight: 200;
    width: 85%;
=======
    font-size: 30px;
    font-weight: 200;
    width: 65%;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    margin-bottom: 20px;
}

.fraseInicial_destaque {
    color: #C62815;
    font-weight: 200;
}

.saibaMais {
    display: inline-block;
    padding: 15px 24px;
    background-color: #AFD3E2;
    color: #146C94;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.saibaMais:hover {
    background-color: #146C94;
    color: #AFD3E2;

}

.image-container-banner {
    flex: 1;
    text-align: right;
}

.image-container-banner img {
    max-width: 100%;
    height: auto;
<<<<<<< HEAD
    margin-bottom: 30%;
=======
    margin-bottom: 30px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
}

/*Sobre*/
#sobre {
    background-color: #F4F4F4;
    padding: 40px 118px;
}

.sobre {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}

.andreia {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.andreia img {
    max-width: 100%;
    height: auto;
}

.textSobre {
<<<<<<< HEAD
    font-family: 'Open Sans';
=======
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    text-align: justify;
<<<<<<< HEAD
    width: 100%;
=======
    line-height: 1.5;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
}

/*Livros*/
#livros {
    padding: 40px 118px;
}

.titulo-livros {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}
<<<<<<< HEAD
.livros-container p{
    margin: 10px;
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: left;
}
#carouselExampleCaptions {
    max-width: 25%;
    margin: 0 auto;
=======

.livros-container p {
    margin-top: 10px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
}

/*Serviços*/
#servicos {
    background-color: #F4F4F4;
    padding: 40px 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-servicos {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}

.image-container-servicos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-container-servicos img {
    margin: 30px 40px;
    max-width: 500px;
    height: auto;
}

/*Depoimentos*/
#depoimentos {
    padding: 40px 118px;
}

.titulo-depoimentos {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}
<<<<<<< HEAD
.depoimentos-container {
    overflow: hidden;
    width: 89%;
    margin: 0 auto;
    position: relative;
    padding: 0px 20px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 2%;
    
  }
  
  .depoimentos-carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .depoimentos-carousel {
    padding-left: 2%;
    border-radius: 8%;
    background: #AFD3E2;
    align-items: center;
    width: 285px;
    height: 352px;
    flex: 0 0 auto;
    margin-right: 10px; 
    color: #146C94;
    position: relative;
  }
  .depoimentos-carousel p{
    padding: 5% 8% 0%;
    width: 85%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.depoimentos-carousel-autor{
    color: #F4F4F4;
}
  .seta-proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 65px;
    background: none;
    border: none;
    color: #146C94;
    cursor: pointer;

  }
  
  .seta-anterior {
    left: 0;
  }
  
  .seta-proximo {
    right: 0;
  }
=======
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552

.image-container-depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container-depoimentos img {
<<<<<<< HEAD
    width: 25%;
    height: 25%;
    padding: 1%;
=======
    padding: 15px;
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
}

/*Parcerias*/
#parcerias {
    background-color: #F4F4F4;
    padding: 40px 118px;
}

.titulo-parcerias {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}

<<<<<<< HEAD
/* Estilize o carrossel com a classe .carousel-inner */
#carouselExampleCaptionsParcerias .carousel-inner {
    max-width: 25%;
    margin: 0 auto;
}

=======
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
/*Contatos*/
#contato {
    padding: 40px 118px;
}

.titulo-contato {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #146C94;
    text-align: center;
}

.contato-container p {
    margin: 15px;
    color: #1E1E1E;
    letter-spacing: 1.1px;
    text-align: center;
}

.contatos-sociais {
    display: flex;
    justify-content: space-evenly;
}

.contatos-sociais h2 {
    color: #146C94;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
}

.contatos a {
    color: #1E1E1E;
    text-decoration: none;
}

.contatos a:hover {
    color: #146C94;
    font-weight: 500;
}

.contatos img {
    align-items: center;
    margin-right: 10px;
}

.sociais img {
    margin-right: px;
}

/*Footer*/
#rodape {
    background-color: #F4F4F4;
    padding: 40px 118px;
<<<<<<< HEAD
}

.rodape-container img {
=======
} 

.rodape-container img{
>>>>>>> c2b773e5a49932f5652a7cdbc2c30887e66b2552
    width: 90px;
    height: 90px;
}