../../../../../../.bash_history
        ../../../../../../.cache/
        ../../../../../../.gitignore
        ../../../../../../.lesshst
        ../../../../../../.nbi/
        ../../../../../../.oracle_jre_usage/
        ../../../../../../.viminfo
        ../../../../../../.vscode/
        ../../../../../../3D Objects/
        ../../../../../../AppData/
        ../../../../../../Contacts/
        ../../../../../../Documents.old/
        ../../../../../../Documents/
        ../../../../../../Downloads/
        ../../../../../../IntelGraphicsProfiles/
        ../../../../../../Music/
        ../../../../../../NTUSER.DAT
        ../../../../../../NTUSER.DAT{04f96724-6de3-11ee-8667-6432a84e826a}.TM.blf
        ../../../../../../NTUSER.DAT{04f96724-6de3-11ee-8667-6432a84e826a}.TMContainer00000000000000000001.regtrans-ms
        ../../../../../../NTUSER.DAT{04f96724-6de3-11ee-8667-6432a84e826a}.TMContainer00000000000000000002.regtrans-ms
        ../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../../../../../NTUSER.LMIRescue.TMP.LOG1
        ../../../../../../NTUSER.LMIRescue.TMP.LOG2
        ../../../../../../NTUSER.LMIRescue.TMP{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../../../../NTUSER.LMIRescue.TMP{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../../../../NTUSER.LMIRescue.TMP{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../../../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../../../../Acesso Agroview.xlsx
        ../../../../../Arquivos de Chat do Microsoft Teams/
        "../../../../../DL\302\264s.xlsx"
        ../../../../AD Group/
        ../../../../Algoritmo/
        "../../../../Alteryx Designer 2023.1 (Usu\303\241rio).lnk"
        ../../../../Atualizado/
        ../../../../EAD-TESTE/
        ../../../../Front-End/
        ../../../../Manuais/
        ../../../../Personal.zip
        ../../../../Qlik Sense Desktop.lnk
        ../../../../T.xlsx
        ../../../../Visual Studio Code.lnk
        ../../../../Web/
        ../../../../Zipados/
        ../../../Desktop/Personal/images/book.jpg
        ../../../Desktop/Personal/images/image_4-1.svg
        ../../../Desktop/Personal/images/image_4.svg
        ../../../Desktop/Personal/images/image_5.svg
        ../../../Desktop/Personal/js/
        ../../../../desktop.ini
        ../../../../../Document.docx
        ../../../../../Documents/Banco de Dados/
        "../../../../../Documents/DL\302\264s/"
        ../../../../../Documents/Manuais - Atalho.lnk
        ../../../../../Documents/Projeto_Syngenta/
        ../../../../../Documents/Projetos/
        ../../../../../Documents/Qlik/
        ../../../../../Documents/desktop.ini
        ../../../../../Documents/imagem.jpg
        ../../../../../Documents/web/
        ../../../../../EAD/
        ../../../../../Este Computador - Atalho.lnk
        ../../../../../Favorites/
        ../../../../../Georgia @ Syngenta.url
        ../../../../../GoogleChromeBackup/
        ../../../../../Links/
        ../../../../../Meetings/
        ../../../../../Pictures/
        ../../../../../Videos/
        ../../../../../desktop.ini
        ../../../../../../Saved Games/
        ../../../../../../Searches/
        ../../../../../../dell display manager/
        ../../../../../../ntuser.dat.LOG1
        ../../../../../../ntuser.dat.LOG2
        ../../../../../../ntuser.ini
