@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@200&display=swap');

body {
    overflow-x: hidden;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    margin-bottom: 1%;

}

.sobre {
    text-align: center;
    color: #146C94;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 10%;
    line-height: normal;
    letter-spacing: 0.1%;
    padding-top: 2%;
}

.livros h2{
    text-align: center;
    color: #146C94;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 10%;
    line-height: normal;
    letter-spacing: 0.1%;
    padding-top: 2%;
}

header {
    position: relative;
    box-sizing: border-box;
}

#adaptada {
    color: white;
    background-color: #AFD3ED;
    border-radius: 15px;
    padding: 0.3%;
}

.destaqueVermelho {
    font-weight: 200;
    font-size: 175%;
    color: #C62815;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1px;
}

.fraseInicial {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-size: 175%;
    font-weight: 200;
    width: 45%;
}

.fraseInicial_destaque {
    color: #C62815;
}


.saibaMais {
    text-decoration: none;
    background-color: #AFD3ED;
    border-radius: 18px;
    padding: 1.75%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);

}

.saibaMais_texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #146C94;
    font-weight: bold;
}

.guia {
    color: #1D4896;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1%;
    height: 180px;
    flex-shrink: 0;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-left: 22%;
    padding-right: 0%;
    padding-top: 3%;
    margin-right: 4%;
    
}

.guia ul li {
    display: inline;
    margin-left: 5%;
    display: inline-block;

}

.logo {
    margin: auto;
    width: 8%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    margin-top: 20px;
    padding-left: 5%;

}

img {
    width: 200px;
    padding-right: 85%;
    justify-content: space-between;
}

.titulo {
    padding-left: 5%;
    padding-top: 1.2%;
    
}

.andreiaEAluno {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 14%;
    width: 58%;
    padding-left: 35%;
    margin-top: -28%;
}

.sobre {
    text-align: center;
    margin: 1%;
}

.andreia,
.textSobre {
    color: #1E1E1E;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 700px;
    height: 517px;
    flex-shrink: 0;
    padding-left: 65%;
    padding-bottom: 0%;
    margin: 0%;
}

.andreia,
img {
    align-items: center;
    float: left;
    width: 52%;
    padding-left: 6%;
    padding-right: 0%;
    padding-top: -800px;
    padding-bottom: 20px;
}

.borderSobre{
    margin-top: 15%;
    width: 100%;
    height: 650px;
    flex-shrink: 0;
    background: #F4F4F4 ;
}

.carousel-container {
    display: flex;
    width: 800px; /* Largura máxima do carrossel (ajuste conforme necessário) */
    height: 300px; /* Altura máxima do carrossel (ajuste conforme necessário) */
    padding: 20px 40px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #AFD3ED; /* Cor de fundo do carrossel */
    border-radius: 1%;
    position: relative;
    align-items: center; /* Centralize verticalmente */
    flex-direction: column; /* Coloque os elementos em coluna (um abaixo do outro) */
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    text-align: center; /* Centralize o texto horizontalmente */
  }
  
  .carousel-slide {
    display: flex; /* Exiba os elementos do slide em linha */
    flex-direction: column; /* Coloque os elementos em coluna (um abaixo do outro) */
    align-items: center; /* Centralize os elementos verticalmente */
    position: relative;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  
  h3 {
    font-family: 'Open Sans', sans-serif; /* Use a mesma fonte que o "Sobre" */
    font-weight: 700;
    margin: 10px 0; /* Adicione um espaço entre o título e o texto */
  }
  
  p {
    margin: 10px 0; /* Adicione um espaço entre o texto e a legenda */
    font-size: 20px;
    padding: 10px 70px;
  }
  
  /* Estilos dos botões de navegação */
  .prev-button,
  .next-button {
    background-color: #146C94;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #1D4896;
  }